@font-face {
    font-family: 'simplistic-pixelation-sans-mono';
    src: url('../../fonts/simplistic-pixelation-sans-mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.screen {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 100vh;
}
button, a {
    border-width: 5px;
    border-style: outset;
    background-color: #808080;
    border-color: #808080;
    cursor: pointer;
}
button:active, a:active {
    border-style: inset;
}
* {
    font-family: 'simplistic-pixelation-sans-mono';
    font-size: large;
    color: white;
    background-color: black;
}
body {
    margin: 0px;
    padding: 0px;
}
button.select {
    border-width: 0px;
    border-color: white;
}
button.select:focus {
    border-width: 2px;
}
p {
    margin: 1px;
    padding: 1px;
}